body {
    margin: 0;
}

#cabecalho {
    background-color: #313131;
    padding: 32px;
}

#cabecalho h1 {
    margin: 0;
    color: white;
    text-align: center;
    text-transform: uppercase;
}

.container {
    width: 100%;
    max-width: 1130px;
    margin: 0 auto;
}

#lista-pokemons {
    margin-top: 32px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));
    gap: 24px;
}

.pokemon {
    /*width: 275px;*/
    /*float: left;*/
}

.pokemon:hover {
    cursor: pointer;
    opacity: 0.75;
}


.pokemon img {
    background-color: #F2F2F2;
    border-radius: 5px;
    width: 100%;
}

.pokemon p.numero {
    font-weight: bold;
    color: #919191;
    margin-top: 3px;
    margin-bottom: 12px;
}

.pokemon p.nome {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 6px;
    margin-top: 0;
    text-transform: capitalize;
}

.pokemon div.lista-tipos {
    display: flex;
    flex-direction: row;
    gap: 4px;
}

.pokemon div.lista-tipos div {
    
}

.tipo {
    width: 74px;
    border-radius: 3px;
    text-align: center;
    padding: 2px;
    text-transform: capitalize;
}

.grass {
    background-color: #9BCC50;
}

.poison {
    background-color: #B97FC9;
    color: white;
}

.fire {
    background-color: #fd7d24;
    color: white;
}

.flying{
    background-color: #3dc7ef;
    color: white;
}

.water{
    background-color: #4592c4;
    color: white;
}

.bug{
    background-color: #729f3f;
    color: white;
}

.normal{
    background-color: #a4acaf;
    color: white;
}

.ground{
    background-color: #a89410;
    color: white;
}

.electric{
    background-color: #eed535;
    color: white;
}

.fade{
    background-color: #fdb9e9;
    color: white;
}